<app-first-block></app-first-block>

<br /><br /><br />
  <app-background-slant></app-background-slant>

<app-second-block></app-second-block>

<app-background-normal></app-background-normal>
<!-- 
<app-third-block></app-third-block>

<app-email-me></app-email-me>
<app-background-email></app-background-email> -->
<livechat-widget #liveChatWidget licenseId="11082047" (onChatLoaded)="Chatbot.onChatLoaded($event)" (onChatWindowOpened)="Chatbot.onChatWindowOpened()" (onChatWindowMinimized)="Chatbot.onChatWindowMinimized()" [visitor]="visitor" [params]="params"></livechat-widget>

<button mat-raised-button class="mat-raised mat-primary" (click)="onToTop()">Top</button>
