*{
    margin: 0;
    box-sizing: border-box;
}

.header h2 {
    background-color:#003A63;
    padding: 30px;
    text-align: center;
    color: #fff;
    font-family: apres-extra-condensed,sans-serif;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
}

.grid-container {
    margin: 20px auto 0px;
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
}

.grid-item {
    background-color: #fff;
    border: 3px solid #000;
    border-radius:10px;
    font-size: 28px;
    color: #fff;
    font-family: futura-pt, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 400;
    height: 100%;
    cursor: pointer;
}

.nested {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: inherit;
    height: inherit;
}

.grid-item:hover > .nested > .title{
    background-color: rgba(218, 216, 216, 0.89);
    transition: .2s ease-in-out;
}

.grid-item:hover > .sptitle{
    color:  rgba(218, 216, 216, 0.89);
    transition: .2s ease-in-out;
}

.title{
    align-self: end;
    text-align: center;
    padding: 25px;
    background-color: #E51937;
    border-radius: 0px 0px 7px 7px;
}

.icon img {
    margin-top: auto;
    border-radius: 10px 10px 0px 0px; 
    width:100%;
}

.sptitle{
    background-color: #E51937;
    position: relative;
    left: 0;
    top: 40%;
    bottom: 50%;
    text-align: center;
}