<div id="contentOne">
  <mat-card>
      <h1>{{titleOne}}</h1>
      <p>{{contentOne}}</p>

      <!-- <button (click)="Chatbot.openChatWindow()">Open LiveChat Widget</button>
      <button (click)="Chatbot.hideChatWindow()">Minimize LiveChat Widget</button> -->
      <!-- <livechat-widget #liveChatWidget licenseId="11082047" (onChatLoaded)="Chatbot.onChatLoaded($event)" (onChatWindowOpened)="Chatbot.onChatWindowOpened()" (onChatWindowMinimized)="Chatbot.onChatWindowMinimized()" [visitor]="visitor" [params]="params"></livechat-widget> -->

</mat-card>
<!-- <livechat-widget #liveChatWidget licenseId="11082047" (onChatLoaded)="Chatbot.onChatLoaded($event)" (onChatWindowOpened)="Chatbot.onChatWindowOpened()" (onChatWindowMinimized)="Chatbot.onChatWindowMinimized()" [visitor]="visitor" [params]="params"></livechat-widget> -->

</div>
