<div class="forums-wrapper">
    <div class="forum-header">
        <div class="forum-title">Server</div>
        <div class="forum-topics">Topics</div>
    </div>
    <ul class="forum-content">

        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a routerLink="view/forum/1">Registration</a></div>
                <div class="description">We know the first step can sometimes be the hardest, let those who came before you help you navigate Howard's registration process </div>
            </div>
            <div class="topics">
                <div *ngIf="!isTopicsLoaded" class="loader-wrapper">
                    <div class="loader small"></div>
                </div>
                {{allTopics['1']}}
            </div>
        </li>

        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a routerLink="view/forum/2">Jobs</a></div>
                <div class="description">
                    Apply now! or, if you're already in one, share some insider tips!
                </div>
            </div>
            <div *ngIf="allTopics" class="topics">
                <div *ngIf="!isTopicsLoaded" class="loader-wrapper">
                    <div class="loader small"></div>
                </div>
                {{allTopics['2']}}
            </div>
        </li>

        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a routerLink="view/forum/3">Mentorship</a></div>
                <div class="description">
                    Everyone needs some guidance from time to time, find yours here:
                </div>
            </div>
            <div *ngIf="allTopics" class="topics">
                <div *ngIf="!isTopicsLoaded" class="loader-wrapper">
                    <div class="loader small"></div>
                </div>
                {{allTopics['3']}}
            </div>
        </li>

        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a routerLink="view/forum/4">Organizations</a></div>
                <div class="description">
                    What organizations would be best for you? 
                </div>
            </div>
            <div *ngIf="allTopics" class="topics">
                <div *ngIf="!isTopicsLoaded" class="loader-wrapper">
                    <div class="loader small"></div>
                </div>
                {{allTopics['4']}}
            </div>
        </li>

        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a routerLink="view/forum/5">Class</a></div>
                <div class="description">
                    Stay on track for that degree!
                </div>
            </div>
            <div *ngIf="allTopics" class="topics">
                <div *ngIf="!isTopicsLoaded" class="loader-wrapper">
                    <div class="loader small"></div>
                </div>
                {{allTopics['5']}}
            </div>
        </li>

        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a routerLink="view/forum/6">Study Tips</a></div>
                <div class="description">
                    Find the best ways to get those A's!
                </div>
            </div>
            <div *ngIf="allTopics" class="topics">
                <div *ngIf="!isTopicsLoaded" class="loader-wrapper">
                    <div class="loader small"></div>
                </div>
                {{allTopics['6']}}
            </div>
        </li>
        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a routerLink="view/forum/6">Graduation</a></div>
                <div class="description">
                    You've taken the first step, get help getting to the final one
                </div>
            </div>
            <div *ngIf="allTopics" class="topics">
                <div *ngIf="!isTopicsLoaded" class="loader-wrapper">
                    <div class="loader small"></div>
                </div>
                {{allTopics['7']}}
            </div>
        </li>
        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a routerLink="view/forum/6">Connections</a></div>
                <div class="description">
                    Find the best ways to get those A's!
                </div>
            </div>
            <div *ngIf="allTopics" class="topics">
                <div *ngIf="!isTopicsLoaded" class="loader-wrapper">
                    <div class="loader small"></div>
                </div>
                {{allTopics['8']}}
            </div>
        </li>

    </ul>

</div>